# ---------------------------
# General
# ---------------------------
*.log
*.tmp
*.swp
*.class
*.pyc
*.iml
.DS_Store
.idea/
.vscode/
.history
.atom/
.svn/
.migrate_working_dir/

# ---------------------------
# Flutter/Dart (frontend/)
# ---------------------------
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# ---------------------------
# Android/Gradle
# ---------------------------
**/android/app/debug
**/android/app/profile
**/android/app/release
**/.gradle/
**/gradle-wrapper.properties
**/local.properties

# ---------------------------
# FastAPI/Python (backend/)
# ---------------------------
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.env
.venv/
venv/
env/

# ---------------------------
# Database
# ---------------------------
*.sqlite3
*.db

# ---------------------------
# Symbolication / Obfuscation
# ---------------------------
*.map.json
*.symbols
